body {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0pt auto;
  color: #eeeeee;
  background-color: #0a0a0a;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  font-size: 12pt;
  margin: 2pt;
  padding: 0pt;
}
p.masterpiece {
  font-size: 11pt;
  font-style: normal;
}
p a.masterpiece {
  text-shadow: 0 0 3px #eeeeee;
  font-size: 12pt;
  font-style: normal;
  text-decoration: none;
}
ul.header {
  display: inline;
  list-style-type: none;
  font-size: 20pt;
  color: rgba(0, 0, 0, 0.0);
  margin: 0;
  padding: 0;
}
li.header {
  color: rgba(0, 0, 0, 0.0);
  float: left;
}
div.header {
  font-family: 'Abel', sans-serif !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.67);
}
a.header {
  color: #FFFFFF;
  font-weight: 900;
  text-decoration: none;
  display: block;
  padding: 4px 12px;
}
a.header:hover {
  color: #FFFFFF;
  font-weight: 900;
  text-decoration: none;
  display: block;
  padding: 4px 12px;
}
table.header {
  font-size: 18pt;
}
tr.header {
  vertical-align: middle;
}
td.header {
  vertical-align: middle;
  padding: 10px;
}
