body {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0pt auto;
	color: #eeeeee;
	background-color: #121212;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
p {
	font-size: 12pt;
	margin: 2pt;
	padding: 0pt;
}
a {
	color: #eeeeee;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #eeeeee;
	text-decoration: underline;
}
header ul { 
	display: inline;
	list-style-type: none;
	font-size: 20pt;
	color: rgba(0, 0, 0, 0.0);
	margin: 0;
	padding: 0;  
}
header li { 
	color: inherit;
	float: left; 
}
header a { 
	color: #ffffff;
	display: block;
	padding: 4px 8px; 
}
header table { 
	border-collapse: separate;
	margin: 5px; 
}
header tr { 
	vertical-align: middle;
}
header td { 
	vertical-align: inherit;
	padding: 8px; 
}
header {
	height: 110px;
	width: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.50);
	z-index: 10;
	top: 50%;
}
.project {
	font-weight: normal;
	text-align: left;
	padding: 4pt;
}
.project img {
	float: left;
	border-radius: 50%;
	height: 45pt;
	margin-right: 8pt;
}
#container {
	width: 100%;
	height: 110px;
	position: fixed;
	z-index: 10;
	top: 0;
}
#content {
	width: 100%;
	position: absolute;
}
