body {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0pt auto;
	text-shadow: 2px 2px 0px rgb(255, 177, 19);
	color: rgb(130, 30, 30);
	background-color: rgb(254, 212, 41);
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
p {
	font-size: 12pt;
	margin: 2pt;
	padding: 0pt;
	font-weight: 600;
}
a {
	color: rgb(130, 30, 30);
	font-weight: 700;
	text-decoration: none;
}
a:hover {
	color: rgb(130, 30, 30);
	text-decoration: underline;
}
header ul {
	display: inline;
	width: 100%;
	list-style-type: none;
	font-size: 20pt;
	color: rgba(0, 0, 0, 0.0);
	margin: 0;
	padding: 0;
}
header li {
	color: inherit;
	display: inline-block;
	padding: 8px 16px;
}
header {
	width: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: inherit;
	z-index: 10;
	top: 50%;
}
